<div class="container-sm">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pessoa of lista; let i = index">
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.idade}}</td>
            <td><input type="button" value="editar" (click)="abrirModalEditar(content, pessoa, i)"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <input (click)="abrirModal(content)" type="button" value="Nova Pessoa">
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Pessoa</h4>
        <button type="button" class="btn-close" aria-label="Close"(click)="modal.dismiss('Cross click')">
        </button>
        </div><div class="modal-body">
            
            <app-pessoasdetails [pessoa]="pessoaSelecionada" (retorno)="addLista($event)"></app-pessoasdetails>

        </div><div class="modal-footer">
        <button type="button" class="btn btn-light"(click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
