<div class="container-sm">
    <form>
        <fieldset>
        <legend>Cadastre um carro</legend>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nome</label>
            <input type="text" id="disabledTextInput" class="form-control">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Ano</label>
            <input type="text" id="disabledTextInput" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        </fieldset>
    </form>
</div>