<div class="container-sm">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ano</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let carro of lista">
            <td>{{carro.nome}}</td>
            <td>{{carro.ano}}</td>
            <td><input routerLink="/admin/livros/editar/{{carro.id}}" type="button" value="editar"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <input routerLink="/admin/carros/novo" type="button" value="Novo Carro">
    </div>
</div>