<div class="container-sm">
    <form>
        <fieldset>
        <legend>Cadastre um Livro</legend>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Autor</label>
            <input type="text" id="disabledTextInput" class="form-control">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Titulo</label>
            <input type="text" id="disabledTextInput" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        </fieldset>
    </form>
</div>